<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.jasesmallproject">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
    <application android:label="JaseSmallProject.Android" android:theme="@style/MainTheme">
		<activity android:name="microsoft.identity.client.BrowserTabActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<!-- example -->
				<!-- <data android:scheme="msalaaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee" android:host="auth" /> -->
				<data android:scheme="msal6bd71b59-d966-46f0-bd72-b9e63d9ffee2" android:host="auth" />
			</intent-filter>
		</activity>"
	</application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
